*{
margin: 0;
padding: 0;
}

#googlemaps { 
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

body{
	font-size: 15px;
}

#mainbar{
	overflow-x:scroll;
	overflow-y:hidden; 
	height: 100%;
	width:2000px;
}

#sidebar{
	height: 100%;
	width:250px;
	background: #121212;
	/*opacity: 0.8;*/
}

#scrollbody{
	height: 100%;
	background: white;
}

.logo{
	text-align: center;
	color:#8D8D8D;
}

.nav-pills>li.active>a{
	text-align: center;
	color:blue;
	background: #000000;
}

.nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus,.nav-pills>li>a:hover, .nav-pills>li>a:focus{
	background: #292929;

}

.nav-pills>li>a{
	text-align: center;
	color: #8d8d8d;
}

.nav-pills{
	padding: 15px;
}

#search_div{
	padding: 15px;
}

#search_div input{
	background: #292929;
	border: #292929;
	text-align: center;
	font-size: 16px;
}

#submit{
	background: black;
	font-size: 16px;
	border: black;
}

#submit_div{
	padding-left:70px;
	padding-right:70px;
}

#map-part {
	height: 100%;
	margin-left: -550px;
}

/*#search_div input:focus{
	background: black;
}

#search_div input:not(:focus){
	background: #292929;
}*/

