#footerwrap{
  width: 100%;
  background: #168CCC;
  text-align: center;
  height: 260px;
  position:relative;
  margin: 0;
  bottom: 0;
  left: 0;
}
#team,#project,#more{
  text-align: left;
}
.wrapper{
  min-height: 100%;
  position: relative;
}
.content-block{
  padding: 5px;
  padding-bottom: 180px;
  height: 600px;
}
#footer-detail >a{
  color: white;
}

.social-links{
  font-size: 18px;
}
i{
  margin:2px;
}