{% load staticfiles  %}
<!-- homepage css-->
<link rel="stylesheet" type="text/css" href="{% static "css/homepage.css" %}">
<script type="text/javascript" src="{% static "js/homepage.js" %}"></script>

<div class="row" id="mainbar" >
	
	<div class="col-lg-2" id="sidebar">
		<div class="logo">
			<h1>GEAR</h1>
		</div>
		
		<div>
			<ul class="nav nav-pills nav-stacked">
  				<li role="presentation" class="active"><a href="#">Home</a></li>
  				<li role="presentation"><a href="#">Login</a></li>
  				<li role="presentation"><a href="#">Signup</a></li>
			</ul>
		</div>

		<div id="search_div">
  			<input type="text" name="search" id="search" class="form-control" placeholder="Search Here" 
  			onfocus="input_search()" onblur="input_search_onblur()"/>
		</div>
		<div id="submit_div"> 
			<input type="submit" name="submit" value="Go" id="submit" class="form-control">
		</div>	

	</div>

	<div id="scrollbody">
	</div>

</div>