{% extends "layout/header.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                {% include "map.html" %}
            </div>

            <div class="col-lg-4 pull-right">
            	<div class="row">
        			<div class="col-xs-12  col-lg-12 col-sm-6">
			            <div class="panel panel-default">
			                <div class="row" style="display: none;">
			                    <div class="col-xs-12">
			                        <div class="input-group c-search">
			                            <input type="text" class="form-control" id="contact-list-search">
			                            <span class="input-group-btn">
			                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
			                            </span>
			                        </div>
			                    </div>
			                </div>
                
			                <ul class="list-group" id="contact-list">
			                    <li class="list-group-item">
			                        <div class="col-xs-12 col-sm-5">
			                            <img src="http://placehold.it/100x100" alt="100X100" class="img-responsive " />
			                        </div>
			                        <div class="col-xs-12 col-sm-7">
			                            <span class="fa fa-globe"> 12.00013, 14.27191</span><br>
			                            <span class="fa fa-mobile"> +91-92618162921</span><br>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                        </div>
			                        <div class="clearfix"></div>
			                    </li>
			                    <li class="list-group-item">
			                        <div class="col-xs-12 col-sm-5">
			                            <img src="http://placehold.it/100x100" alt="100X100" class="img-responsive " />
			                        </div>
			                        <div class="col-xs-12 col-sm-7">
			                            <span class="fa fa-globe"> 12.00013, 14.27191</span><br>
			                            <span class="fa fa-mobile"> +91-92618162921</span><br>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                        </div>
			                        <div class="clearfix"></div>
			                    </li>
			                    <li class="list-group-item">
			                        <div class="col-xs-12 col-sm-5">
			                            <img src="http://placehold.it/100x100" alt="100X100" class="img-responsive " />
			                        </div>
			                        <div class="col-xs-12 col-sm-7">
			                            <span class="fa fa-globe"> 12.00013, 14.27191</span><br>
			                            <span class="fa fa-mobile"> +91-92618162921</span><br>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                        </div>
			                        <div class="clearfix"></div>
			                    </li>
			                    <li class="list-group-item">
			                        <div class="col-xs-12 col-sm-5">
			                            <img src="http://placehold.it/100x100" alt="100X100" class="img-responsive " />
			                        </div>
			                        <div class="col-xs-12 col-sm-7">
			                            <span class="fa fa-globe"> 12.00013, 14.27191</span><br>
			                            <span class="fa fa-mobile"> +91-92618162921</span><br>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                            <span class="fa fa-star"></span>
			                        </div>
			                        <div class="clearfix"></div>
			                    </li>
			                </ul>
            			</div>
        			</div>
				</div>
            </div>
        </div>
    </div>
    <script>
	$(window).resize(function () {
		var h = $(window).height(),
		offsetTop = 0; // Calculate the top offset
		$('#googlemaps').css('height', (h - offsetTop));
	}).resize();
    </script> 
{% endblock %}